.login {
  width: 100%;
  height: 100vh;
  background-image: url(../../assets/banner.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: relative;

  &-main {
    width: 390px;
    height: 450px;
    padding: 15px;
    box-sizing: border-box;
    background-color: #fff;
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    box-shadow: 0 0 15px rgb(99, 98, 98);
  }
}
